[2017-08-02 17:11] melissanoelle opened #1 "Android?"
Hi there, just wondering if you have any plans on implementing this on Android as well. If not, is the problem straight-forward? Is it something that someone else could tackle? I've found one other repo that claims to do Android document scanning, but it's a WIP still and we haven't been able to get it to run.

Thanks in advance,

M

[2017-08-03 07:25] Michaelvilleneuve commented on #1
Hi,
I wouldn't be able to develop the solution from scratch myself, at least not in Java !
But if you find a repo of native Android code that does that, I would be glad to make the react native bridge :).

[2017-08-07 22:24] CharlieOrlando opened #2 "Change image quality?"
Hey! You did an excellent job with this, and it works amazingly well, but I'm wondering if you're planning to add the ability to change the image quality. Currently, the images end up being exceedingly large (10+mb).

[2017-08-08 04:50] Michaelvilleneuve commented on #2
Hi ! Seriously, 10mb ?? I have not been using the images outside of the app so I have not noticed their size. I'll see if I can add it this week.

In the meantime I am sure you can manage to do it in pure JS if you need to 😊

[2017-08-08 05:21] CharlieOrlando commented on #2
Yeah. I tried uploading the base64 string to firebase, but got an error that said I had exceeded the maximum size (of 10mb). The error doesn't occur if I scan the document from further away.

I've been looking into workarounds, and I think I can solve the issue. I appreciate the quick response, though! Please lemme know if you come up with any solutions

[2017-08-08 08:14] Michaelvilleneuve commented on #2
Hey ! Fixed in f53cdcb600a8f181d816f04b16986aec7ef3a99f
Image is now encoded in JPEG and I also added option for quality on the component itself.
Hope this helps !

[2017-08-08 08:14] #2 closed

[2017-08-08 19:30] CharlieOrlando commented on #2
Damn. Thanks for addressing the issue so quickly

[2017-08-11 11:20] vosamoilenko opened #3 "Change the quality of image"
I get an image with 2,2 MB, is there any options to change a quality?

[2017-08-11 11:44] Michaelvilleneuve commented on #3
Have you try the quality prop ? Available in latest version.

[2017-08-11 12:49] vosamoilenko commented on #3
Are you sure that it works correctly?
I get a difference on which distance I make a photo. I got 10 MB when a camera was very near to document when it's away from a document the size of photo near 2 MB. But I don't see any dependence to prop 'quality'.

[code]

[2017-08-11 12:52] Michaelvilleneuve commented on #3
I have been getting results as low as 0.2mb with decent quality. Are you using version v1.1.2 ?
If you are not sure could you please try uninstalling the lib and then specifying "react-native-document-scanner": "1.1.2" in your package.json ?

[2017-08-11 13:10] vosamoilenko commented on #3
Yeap, a problem was with packages. Thanks, the library is great

[2017-08-11 13:10] #3 closed

[2017-08-18 14:00] poyannabati opened #4 "Pass URI instead of base64"
I think it should be optional to pass the base64 encoded data and by default pass the URI. This would avoid an, unnecessary, large transfer over the bridge.

[2017-08-18 16:36] vosamoilenko opened #5 "The screen with scanner freezes and app crashes"
I found a problem with crashing an app while the scanner is working. I cannot detect the problem when it crashes. If this happens, 90% the screen is black, I mean, when the phone just lies on the table.

[2017-08-18 16:54] poyannabati opened #6 "Only one image capture is allowed"
Unless you unmount the DocumentScanner component (for instance while showing a review screen), you can't continue taking photos but you are met with a blank screen. Camera view disappears.

[2017-08-18 17:17] Michaelvilleneuve commented on #4
Hi, I didn't need it but yeah it would be great. I've seen you started working on it, feel free to PR

[2017-08-18 17:19] Michaelvilleneuve commented on #5
Is your iPhone plugged to your mac and xcode while scanning ? I've had crashes while plugged but none when compile in release on the iPhone

[2017-08-18 17:22] vosamoilenko commented on #5
I have already done test Flight and it's crashed again

[2017-08-18 17:22] poyannabati commented on #4
⭐️

[2017-08-18 17:23] Michaelvilleneuve commented on #6
Yes indeed. But I don't see in which cases you would want to keep the camera active even though you've taken a picture ?  Is it for performance concerns ?

[2017-08-18 17:24] poyannabati commented on #6
@Michaelvilleneuve basically, auto-capture mode (scanning multiple pages without approving each one).

[2017-08-18 17:25] Michaelvilleneuve commented on #5
Ok, try to provide more info if you manage to reproduce it :)

[2017-08-18 17:29] poyannabati commented on #4
I did start but started wondering: there seems to be more things that differ in the latest version of the underlying lib. Any 'rebasing' this project off of the latest version?

[2017-08-18 17:53] Michaelvilleneuve commented on #6
Oh I see, would be a cool feature indeed.

I can't work on it right now, I'm working on a custom crop system which would be a great addition to this library :

![img_1026 - copie](https://user-images.githubusercontent.com/4990201/29470925-7cdee92c-844e-11e7-9720-432cf1d3f173.png)

But I'm pretty sure it would work out of the box if you just remove `[self stop];` from `DocumentScannerView.m`

[2017-08-18 17:58] Michaelvilleneuve commented on #4
If you are talking about that  lib https://github.com/mmackh/IPDFCameraViewController
It has not been updated since 11 month. Where have you found changes ?

[2017-08-19 17:38] isaacboratino opened #7 "RNPdfScanner" does not exist"
On androi i get error

index.android.bundle?platform=android&dev=true&hot=true&minify=true:357 Warning: Native component for "RNPdfScanner" does not exist
t @ index.android.bundle?platform=android&dev=true&hot=true&minify=true:357

[2017-08-19 17:48] Michaelvilleneuve commented on #7
Hi, Document Scanner is not available on Android for now, please add a condition like that :
[code]

[2017-08-19 17:48] #7 closed

[2017-08-21 08:37] Michaelvilleneuve commented on #5
@vosamoilenko you seemed to want it, here it is https://github.com/Michaelvilleneuve/react-native-custom-crop, to not hesitate to give me your feedback :)

[2017-08-23 21:50] CharlieOrlando opened #8 "Any chance for an option to save an actual file?"
Instead of the base64. Aside from that, the scanner is perfect and the new image cropper is also great

[2017-08-24 05:18] Michaelvilleneuve commented on #8
I'm on holiday until September 5th, but it is #1 on the todo for when I get back 👍🏼

[2017-08-24 19:04] CharlieOrlando commented on #8
Awesome! Appreciate the speedy reply. Enjoy the holiday!

[2017-09-11 08:57] vosamoilenko opened #9 "data.image is undefined. Renamed to croppedImage"
I have noticed that data.image now is data.croppedImage and it would be nice if you change this in README.md, because it can provoke a new issues ;)

[2017-09-11 09:22] Michaelvilleneuve commented on #9
Indeed, thanks !

[2017-09-11 09:22] #9 closed

[2017-09-20 12:19] #5 closed

[2017-10-01 00:50] ducpt2 opened #10 "Can not connect to camera."
I try to build app with react-native-document-scanner, use sample code. But when i run on device, my app can not connect to camera. It only show button Flash, text at bottom and all white screen(can't connect to camera).
someone know to fix it? Many thanks.

[2017-10-01 07:06] Michaelvilleneuve commented on #10
Hi, are you running the demo on an actual device ? Camera does not work on simulator. Also have you ran react-native link ?

[2017-10-03 00:07] ducpt2 commented on #10
@Michaelvilleneuve Yes, i'm sure that i run on real device, and run react-native link. I think something is broken in your bridge code.

[2017-10-03 05:04] Michaelvilleneuve commented on #10
Can you try changing data.image to data.croppedImage in index.ios.js.
I think that I forgot to update the example project.

[2017-10-03 06:37] Michaelvilleneuve commented on #10
Ok I just tested successfully the example project. I just published a fix regarding an issue in the example project with react dependency and regarding the above comment. Aside from that it was working just as expected.

Please provide more detail. Are you sure you are running the project with an iPhone?

[2017-10-03 06:50] ducpt2 commented on #10
I just try to run your Example, and it work.
Thank you Michaelvilleneuve.
I hope you can make a quick video to setup your two awsome library as well.Thanks.

[2017-10-03 06:58] Michaelvilleneuve commented on #10
Cool :). I'll try to integrate the cropper library as well to the example project this week. I'll just make a shell script that will automate the process, I guess it will be simpler

[2017-10-03 06:58] #10 closed

[2017-10-05 15:42] GeorgS opened #11 "iOS 8.4 EXC_BAD_ACCESS Issue"
I am trying to build your example on iOS 8.4 but get the following error after around 5 seconds after the application started.

<img width="871" alt="screen shot 2017-10-05 at 17 37 50" src="https://user-images.githubusercontent.com/827885/31236403-48108126-a9f4-11e7-8a98-b5ef880162e0.png">

Any ideas what could cause this issue?

[2017-10-05 15:44] Michaelvilleneuve commented on #11
Can you please try without keeping your iPhone plugged in your mac ? I've had crashes when keeping it plugged and debugging.

[2017-10-05 15:54] GeorgS commented on #11
It is still crashing after about 1 second after starting the app.

[2017-10-10 18:40] Michaelvilleneuve commented on #8
Hello ! Sorry for the false hope. Unfortunatly I’ve been working on completely different projects since september and I have not taken time to add this feature ☹️

[2017-10-10 18:41] CharlieOrlando commented on #8
No worries at all!

[2017-10-10 19:32] CharlieOrlando commented on #8
Hate to bother you, but I'm kinda at a loss for what to do. The document scanner worked perfectly on my last project, but I just installed it on my current one, and it wouldn't build. I then uninstalled it and unlinked, and now my project wont build at all.

Getting an Apple Mach-O Linker Error, saying
"ld: library not found for -lRNPdfScanner
clang: error: linker command failed with exit code 1 (

[2017-10-10 19:34] CharlieOrlando commented on #8
The previous project was using document scanner ^1.2.1. This new one is using document scanner ^1.3.0. Gonna try downgrading and then report back

[2017-10-10 20:08] CharlieOrlando opened #12 "Build Failed... issue with RCTBridgeModule"
This package worked perfectly on my last project (react-native 0.44.0 and react-native-document-scanner ^1.2.1), but I'm getting a build error on my new project (react-native 0.49.1 and react-native-document-scanner 1.3.0). I've tried downgrading the document-scanner to 1.2.1, but it throws the same error...

![documentscannererror](https://user-images.githubusercontent.com/25595536/31408061-d5081

[2017-10-10 21:52] CharlieOrlando commented on #12
Update... I've finally fixed the error by changing the code in ios/RNPdfScannerManager.h

from this:

`#if __has_include("RCTBridgeModule.h")
#import "RCTBridgeModule.h"
#else
#import <React/RCTBridgeModule.h>
#endif

#if __has_include(<React/RCTViewManager.h>)
#import <React/RCTViewManager.h>
#elif __has_include("RCTViewManager.h")
#import "RCTViewManager.h"
#else
#import "React/RCTViewManager.h"

[2017-10-10 21:52] #12 closed

[2017-10-11 04:33] Michaelvilleneuve commented on #12
Hey ! I've seen someone using this fix to make it work on React Native 0.48+, I think I'll post an update as it seems to be the go to solution now.

[2017-10-12 02:35] mafang99 opened #13 "Can not run on iOS devices with Xcode9."
Showing All Messages xxxxxx/node_modules/react-native/React/Base/RCTBridgeModule.h:54:16: Redefinition of 'RCTMethodInfo'

Showing All Messages
xxxxxx/node_modules/react-native-document-scanner/ios/RNPdfScannerManager.m:2:9: In file included from xxxxxx/node_modules/react-native-document-scanner/ios/RNPdfScannerManager.m:2:

xxxxxx/node_modules/react-native-document-scanner/ios/RNPdfScannerManager

[2017-10-12 04:49] Michaelvilleneuve commented on #13
Hello, please use this fix, I'll post an update soon. Feel free to submit a PR a it works ! https://github.com/Michaelvilleneuve/react-native-document-scanner/issues/12

[2017-10-12 10:23] poyannabati commented on #4
I think the default behaviour should be to pass the URI rather than the base64, what do you think @Michaelvilleneuve ?

[2017-10-12 10:28] Michaelvilleneuve commented on #4
Yes I agree, I needed base64 only for my project but of course it bottlenecks the JS bridge and adds some MS to the response time. Plus it forces you to deal with other JS libraries if you need to save it elsewhere..
I really don't have time to work on it right now but I would be more than happy to merge this feature !

[2017-10-12 11:54] #4 closed

[2017-10-12 14:55] #6 closed

[2017-10-12 15:23] Michaelvilleneuve commented on #8
Hey ! Regarding your initial issue https://github.com/Michaelvilleneuve/react-native-document-scanner/commit/4b8a6627cf77f6969d8c97d95750d4cf572cce76

[2017-10-12 15:24] #8 closed

[2017-10-12 18:15] CharlieOrlando commented on #8
Awesome! Appreciate you taking the time to do this

[2017-10-12 18:35] Michaelvilleneuve commented on #8
Don’t thank me I just merged it ;) https://github.com/Michaelvilleneuve/react-native-document-scanner/commit/4dfce4d9968b7d4f30be928c9de70d5e9a1137b9

[2017-10-13 07:22] poyannabati opened #17 "Setting saturation to 0 does nothing"
Setting `saturation={0}` does not desaturate the picture.
Setting `saturation={0.01}` desaturates the picture.

[2017-10-13 07:24] poyannabati commented on #17
Same with contrast. I'm guessing there are some equal-style conditionals where they should be strict equls or the Objective C equivalent.

[2017-10-13 19:22] axelkennedal commented on #1
I'd also be very interested in an Android implementation 😄 !

[2017-10-18 04:02] ducpt2 commented on #1
Hey @Michaelvilleneuve ,
Can you take a look at this lib: https://github.com/beast/react-native-scan-doc, i think it so perfect if your lib can work on Android too. :)
So btw, thank you for your effort. :)

[2017-10-18 14:40] ducpt2 commented on #10
Hi Michaelvilleneuve,

I ran your lib in ReactNative-iOS project and it work perfectly,
so I provide you some native android scan document library, hope you can
make your libe work with android too.

Thank you so much.

2017-10-03 13:58 GMT+07:00 Michaël Villeneuve <notifications@github.com>:

[2017-10-18 14:47] Michaelvilleneuve commented on #1
Hi, thank you for the infos ! I've seen these library already, I am not working on this project right now but I might be working on it again soon !

[2017-10-21 13:33] andres-ortiz commented on #13
You can close Issue !

[2017-10-21 15:14] #13 closed

[2017-10-23 07:22] ducpt2 commented on #1
Hi @Michaelvilleneuve  , I see this project. It work exactly like your, but not have auto capture feature.
https://github.com/Aniruddha-Tapas/Document-Scanner
I trying to bridge it but it too hard for me :) Please take a look, thanks @Michaelvilleneuve.

[2017-11-19 13:25] nic-lan opened #22 "Invariant Violation: Native component for "RNPdfScanner" does not exist"
Hello, it looks like the index.js is not able to load the the RNPdfScanner even if i see
[code]

i see the explicit require on line 5 though
[code]

npm 5.5.1
node 9.0.0
expo xde on top

[2017-11-19 13:42] Michaelvilleneuve commented on #22
Hey, you need to link the library. This lib is not compatible with expo though.

[2017-11-23 18:05] guilherme-dias commented on #5
I'm facing this issue. Seems like sometimes the component doesn't render correctly and freezes the app. I'm running in release on my iPhone 5s that is used for tests. It does not happens everytime, but it might occur frequently.

I need to rerender the scanner for scanning multiple documents, since the props option bugs after some tries, it captures the photo right after the component renders.

I

[2017-12-12 03:11] ducpt2 opened #24 "Performance when navigate too low and how to keep camera when capture image in mode 'captureMultiple'?"
Performance when navigate too low (scanner component is too heavy?) and how to keep camera when capture image in mode 'captureMultiple'? When i capture image, the camera screen is disappear, how to keep it on?

[2017-12-13 02:45] ducpt2 opened #25 "How can i turn on/off flash when capture image?"
How can i turn on/off flash when capture image?

[2017-12-13 06:17] Michaelvilleneuve commented on #25
Hi, simply toggle the `enableTorch` prop

[2017-12-13 06:37] ducpt2 commented on #25
Thanks Michael :)

[2017-12-13 06:37] #25 closed

[2017-12-28 16:16] marcorm commented on #1
I'm very interested, too!!

[2018-01-01 19:44] kennethkloeppel commented on #22
I attempted to install this today and am getting the same error.  After the install I issued the link command and it appears to have linked.  I'm a bit green when it comes to some of these linked libraries.

$ react-native link react-native-document-scanner
Scanning folders for symlinks in /*******/node_modules (18ms)
rnpm-install info Linking react-native-document-scanner android dependency
rnpm-

[2018-01-01 19:48] Michaelvilleneuve commented on #22
Have you recompiled you app after linking ?

[2018-01-01 20:34] kennethkloeppel commented on #22
You're right.  I didn't.  I told you... newbie here.  LOL

Thanks!

[2018-01-02 08:18] #22 closed

[2018-01-08 20:43] themakerman commented on #1
I wish someone can implement Android version. Don't Wana go into license stuff like scanbot sdks....

[2018-01-24 07:08] #24 closed

[2018-02-15 10:04] veris-amoghbanta opened #27 "Using camera in non mirror-image mode"
Hi,
The camera by default opens in mirror-image mode. Is there any way around to prevent that?

[2018-02-27 07:56] nisargrthakkar opened #28 "Andorid"
Is this module available for android?

[2018-02-27 08:05] Michaelvilleneuve commented on #28
No ! Feel free to implement it :)

[2018-02-27 08:05] #28 closed

[2018-04-08 14:10] julianklumpers commented on #1
I would really like to see the android version aswell. good work on the ios !

[2018-04-09 22:10] reForMatt opened #29 "How to get working on a new project?"
This library looks perfect for a new project I'm working on, but I'm struggling to get it working with a fresh create-react-native-app. I'm pretty new to React-Native, how should I get this library to work on my app? Should I start the react-native app a different way?

Thanks a lot!

[2018-04-10 08:58] Michaelvilleneuve commented on #29
Hi, this lib is not expo compatible, meaning you need to either eject from create-react-native-app or recreate your app using `react-native init`. The process is pretty well documented here https://facebook.github.io/react-native/docs/getting-started.html under the tab 'project with native code'

[2018-04-10 08:58] #29 closed

[2018-05-12 22:28] vinitty commented on #22
can i use this library with expo , or is there any library like this which has support in expo

[2018-06-28 08:25] osmancikjan opened #30 "Manual capture"
Hi, I am using your module in project and I need to call capture method manually after press button, but it captures first rectangle that has beed detected automaticly. Is there any reason how to achieve this?

[2018-06-29 05:10] zedtux commented on #1
Any plan to add soon the Android support @Michaelvilleneuve ?

[2018-06-29 06:24] zedtux opened #31 "Example isn't up-to-date"
The example from this repo seem to use a different version of the actual version of this package (using `<Scanner ... />` instead of `<DocumentScanner ... />`.

I guess it has been made with an older version of this library.

Could you please update it ?

[2018-06-29 06:32] Michaelvilleneuve commented on #31
Considering that the main component is exported as default, you can actually name it the way you want it as long as you import it from the right package..

[2018-06-29 06:32] #31 closed

[2018-06-29 06:36] zedtux commented on #31
Oh ... I see. Thank you @Michaelvilleneuve and sorry for the noise ... 😞

[2018-06-29 06:49] Michaelvilleneuve commented on #31
No problem @zedtux ! :)

[2018-06-29 09:47] Michaelvilleneuve commented on #1
Yes you can revert them, especially If the linking adds any compilation issues

[2018-06-29 09:49] zedtux commented on #1
It did. Thank you.

[2018-07-09 10:53] Fercell commented on #1
Did any of you have found a working solution for Android?

[2018-07-09 10:56] zedtux commented on #1
Nope, still looking for it.

[2018-07-09 19:15] veb commented on #1
Here's a basic version for Android: https://bitbucket.org/avwave/rn-doc-scanner-android/src/master/

[2018-07-09 21:21] julianklumpers commented on #1
hi @veb

Thank you for linking this basic library for Android. there is a bit of lack on documentation on how to use this in React Native. I figured out how to get this working.

Here is a basic example:

[code]

[2018-07-10 05:19] Michaelvilleneuve commented on #1
@julianklumpers please use the other lib to discuss it..

[2018-07-12 17:03] SrujithPoondla opened #32 "Instructions to run the Example app"
These are the steps i followed to run the Example app.

1. git clone https://github.com/Michaelvilleneuve/react-native-document-scanner.git
2. cd react-native-documrnt-scanner/Example
3. npm install
4. react-native run-ios

This is the error i am getting

[code]
But react module is available in node_modules.
Are there any specific instructions to run the example app?

Thanks!

[2018-07-13 06:57] Michaelvilleneuve commented on #32
The steps you followed seem correct. Try to uninstall react from your node_modules and install it again ?

[2018-07-13 14:20] SrujithPoondla commented on #32
I tried uninstalling all the node modules and reinstalling. It didn’t work. Any other suggestions?

Now i am trying to use directly in an app. After using react native link, still do i need to add camera to the permissions in xcode and android?

[2018-07-14 06:51] Michaelvilleneuve commented on #32
Unfortunately I don't have time to maintain this package anymore. I am just trying to help whenever I can.

Feel free to submit PRs and I will look into it

[2018-08-09 08:34] #32 closed

[2018-08-27 07:01] jolinkomo-code commented on #30
Hey. I managed to get this to work by commenting out the following code in the xcode project RNPdfScanner -> DocumentScannerView.m

from this:
![screen shot 2018-08-27 at 09 00 53](https://user-images.githubusercontent.com/25664743/44645395-c43a0680-a9d7-11e8-818c-358f73aa2247.png)

to this:
![screen shot 2018-08-27 at 09 01 05](https://user-images.githubusercontent.com/25664743/44645410-d0be5f00-

[2018-08-27 07:19] Michaelvilleneuve commented on #30
Hi @jolinkomo-code, do not hesitate do make this an actual option and submit a PR :). Thanks for sharing

[2018-08-27 07:19] #30 closed

[2018-08-27 15:18] tskorupka opened #34 "There is no functionality to stop capture."
During my development of some application with using `react-native-document-scanner`, there is no method that allows to stop whole capturing stuff.

[2018-09-13 02:50] NguyenQuangVinh123 commented on #1
Hello, Do you have the version for Android? Thanks alot

[2018-09-13 04:38] NguyenQuangVinh123 commented on #1
@julianklumpers  Hello do you resolve this problem on android

[2018-09-21 13:05] tskorupka opened #35 "Camera is not stopped if changing screen."
I mean that if I use react-navigation for screen navigation, when I try to change screen during camera is opened it just takes photo in background. To prevent that I added function that can stop camera manually. #36

[2018-09-26 09:36] zedtux opened #37 "Be more flexible on the React Native version"
When I'm running `yarn` I got the following warning:

[code]

I'm using RN 0.57.1 so it's correct, but this lib is working fine and should be _require_ react-native 0.49.3.

[2018-10-09 10:55] huuthanh700 commented on #27
I have same issue

[2018-10-22 19:01] WeslleyNasRocha opened #39 "Only stop detection"
There is a way to only stop the rectangle detection, and let the camera still open?

[2018-10-23 13:44] WeslleyNasRocha commented on #39
Unfortunately, i know nothing of swift or objective C.
But i will give it a try when i have some spare time.

[2018-10-24 12:42] zedtux opened #40 "Document detection improvement"
Hello @Michaelvilleneuve,

First of all, thank you so much for this great library, I'm still missing the Android version, but for iOS, that's rocks.

While all is working fine, now that we're using it in production, we are starting to see the detection limitations.

Is there a way to improve the sheet detection ?

Thank you

[2018-10-24 13:22] Michaelvilleneuve commented on #40
Hi ! Thank you, happy to know that people are successfully using it in production 👍

When you say limitation do you mean that rectangle are not accurate, or the lib does not detect them at all ?

For now there are not many options that would allow to tweak the recognition.
However, detection is pretty basic, if you take a look at IPDFCameraViewController file, you will found these two methods :

[

[2018-10-24 13:53] andrejunqueira1 commented on #1
Hi guys, i'm developing a module for android, is not ready yet, but already works, if you wanna try i think tha can solve some problems.
[react-native-documentscanner-android](https://www.npmjs.com/package/react-native-documentscanner-android)
thanks !

[2018-10-24 14:14] Michaelvilleneuve commented on #1
@andrejunqueira1 awesome, do not hesitate to open a PR whenever you think our works can be merged !

[2018-10-24 14:30] zedtux commented on #40
I meant that rectangles are not accurate.

The 2 cases I have in mind, where the rectangle detection is not accurate are :

 - A coloured sheet on a white table, with many source lights, projecting many shadows of different intensities : The rectangles seemed to match the shadows
 - A magazine on a glass table : The rectangles was matching some forms of the magazine

In my tests, of white sheet pa

[2018-10-24 14:32] zedtux commented on #1
@andrejunqueira1 that sound great ! Why don't you fork this project and add your Android version in this lib as @Michaelvilleneuve suggested?

[2018-10-24 14:38] Michaelvilleneuve commented on #40
Have you tried to change the `contrast` and `saturation` prop ?

[2018-10-25 20:36] andrejunqueira1 commented on #1
Thank you guys, i'll take a time to join our projects !

[2018-11-27 18:24] justinkiang opened #42 "Any ways to reset camera?"
I tried to toggle a state off and on in attempt to reset the scanner, but it didn't work.  Screen remained gray.

Use case is that it detects a document, and then shows the cropped image in a modal.  The user can choose to accept it or reject it.  If the user rejects it, I need to reset the document scanner to make another try.

I tried this but didn't work
`refuse(){
this.setState({docScannerOn:f

[2018-12-18 12:40] IndeDude commented on #42
There is no need to reset. Just make it so that the scanner component is rendered again.

...
`
import React from 'react'

export default class Scanner extends React.Component {
  state = {
    image: null,
    // other state variables
  }
  // other stuff
  render () {
    if (image)
      return (
      {/* Show Image. (either by rendering it here or in a modal. your choice)
          Button "Ac

[2019-01-16 10:36] phuhk opened #43 "Seem front camera not detect any rectangle"
Hi there, I just using example but seem front camera not detect any rectangle. Am I missing any thing, guys?

[2019-01-17 04:12] phuhk commented on #25
Sorry, but seem this props does nothing to me? Flash still off

[2019-01-22 04:47] phuhk opened #44 "Camera preview seem `stretch`"
Hi there, anyone notice about Camera preview? My app currently support switch between 2 mode standar Camera and this scan document camera. And I notice preview aspect ratio of this scan document camera seem `stretch` smaller size than standar camera.

[2019-02-01 10:02] godofmadness commented on #44
+1

[2019-03-15 14:50] nicolasscard commented on #1
Estimados,

Alguna novedad respecto a esto? @andrejunqueira1 @Michaelvilleneuve
Saludos

[2019-04-12 09:06] Michaelvilleneuve commented on #1
Hello, can anyone confirm that https://github.com/Michaelvilleneuve/react-native-document-scanner/pull/47
works on both android and ios ?

It is a PR based on @andrejunqueira1 's work

I'll merge it once it's working

[2019-04-18 16:16] VoroshilovMax opened #48 "Question. From image to pdf?"
It’s possible to convert image base64 string to pdf? Any ideas 💡? :)

[2019-04-26 09:10] #43 closed

[2019-05-03 20:51] leandromaciel commented on #1
How can I create a clean install with the #47 version for testing?

[2019-05-13 06:46] frenberg commented on #48
Im using this: https://github.com/frenberg/react-native-image-to-pdf

[2019-05-15 14:21] GaetanB999 commented on #1
Hello, does anyone have good news about this ?

[2019-05-23 08:26] Michaelvilleneuve commented on #1
@GaetanB999 and everyone feel free to try out the android branch, it is working very well for us here at fidme. Android feels less polish and still lacks a few features but both are definitely useable.

Also please note that the twin library https://github.com/Michaelvilleneuve/react-native-perspective-image-cropper is now fully compatible with android :)

[2019-05-23 12:25] nicolasscard commented on #1
Estimados,

Ya no estoy necesitando la librería.
Gracias por el soporte y la información.

Saludos

El jue., 23 de may. de 2019 a la(s) 05:26, Michaël Villeneuve (
notifications@github.com) escribió:

[2019-05-25 07:12] #40 closed

[2019-05-29 06:58] jihokim2 opened #50 "I can't see a photo"
I make application using your library. But I met error and I can't see anything through camera.
Log is below.

[1631:2881067] Failed to bind EAGLDrawable: <CAEAGLLayer: 0x156e8110> to GL_RENDERBUFFER 2
[1631:2881067] Failed to make complete framebuffer object 8cd6

Do you have a solution? If you know let me know please.

[2019-05-29 07:05] jihokim2 commented on #50
I have a solution.

    <DocumentScanner
      style={{ flex: 1, backgroundColor: '#fff' }} <-- insert this line
      overlayColor="rgba(255,130,0, 0.7)"
      ref={ref => (this.scanner = ref)}
      onPictureTaken={data => {
        console.log(data.initialImage);
        props.onPressCamera(data.initialImage);
      }}
Thank you.

[2019-05-29 07:05] #50 closed

[2019-06-09 07:41] kamleshkatpara commented on #30
Hi,
I tried this

[code]

[2019-06-09 07:41] kamleshkatpara commented on #30
@Michaelvilleneuve any suggestions ?

[2019-06-11 19:49] vincentgheza opened #51 "How to work manual capture"
Hi, first thank for your work.
But i have a little problem with manual capture , i cannot understand how to work , and how to retrieve data as onPictureTaken.

Could you explain the difference please ?
Thx.

[2019-06-17 10:27] prabhakaran8737 opened #52 "error: cannot find symbol import org.opencv.DocumentScannerPackage"
![Screen Shot 2019-06-17 at 3 55 04 PM](https://user-images.githubusercontent.com/5249599/59597865-7504c400-9118-11e9-8310-ac34bdbeffe4.png)

This is my package.json file

[code]

Was struggling for past 2 days.. unable to get any solutions.. I just installed using android branch and trying it in android mobile.

[2019-06-17 10:48] Michaelvilleneuve commented on #52
The automatic linking seems to have failed retrieving the package name.
The import line should look like this :

import com.documentscanner.DocumentScannerPackage

[2019-06-17 10:51] Michaelvilleneuve commented on #51
To do manual capture you need to get the ref of your component ref={ref => this.scanner = ref}

Then whenever you want to capture you just call this.scanner.capture()

No matter the way you captured the image (auto or manual) you will receive the result in the onPictureTaken method

[2019-06-17 10:51] #51 closed

[2019-06-17 12:52] vincentgheza commented on #51
Ok thank you, with the version 1.4.0 the manuel method is working also ?

[2019-06-20 09:54] Sride commented on #52
@Michaelvilleneuve thanks for the response, you saved my day, after changing this line, the app shows blank white page. the app.js has only DocumentScanner

Here is the changed line.
[code]

[2019-06-20 10:04] Michaelvilleneuve commented on #52
Did you ask for camera permissions, etc ?

[2019-06-20 10:09] Sride commented on #52
@Michaelvilleneuve Yes it is...

[code]

[2019-07-18 11:17] ceyhuncfc9 commented on #52
Hey @Sride, any update on this issue? I have the exact same problem.

[2019-07-18 12:21] Sride commented on #52
Hey @ceyhuncfc9 Linking is the opencv is the problem,
refer this https://github.com/Michaelvilleneuve/react-native-perspective-image-cropper/issues/26

[2019-07-18 12:22] Sride commented on #52
Hey @ceyhuncfc9 Linking opencv is the problem,
refer this Michaelvilleneuve/react-native-perspective-image-cropper#26
in this we have linked opencv.

[2019-07-21 00:20] AGollapalli commented on #52
Looks like this is an issue with React Native's 60+ auto-linking. It looks like this, along with andreluisjunqueira/react-native-documentscanner-android need to be linked manually, following the instructions described in Junqueira's readme.

To prevent auto-linking, create a file (if it doesn't already exist) called "react-native-config.js" and add the following:

` module.exports = {
  dependenci

[2019-07-23 17:48] se09deluca commented on #52
Hi everyone, has anyone managed to make react-native-document-scanner work with react native 0.60.x on both platforms?
I succeeded on iOS but on Android even after having disabled auto linking, the only thing obtained is a black screen.
If someone did it, or met the same issues and passed, could he let me know how?

Hi @Sride, did you get react-native-document-scanner to work with zahidahmed024's

[2019-07-24 06:17] Sride commented on #52
Hi @se09deluca no react-native-document-scanner doesn't worked, i made work with react-native-perspective-image-cropper based on the zahidahmed024's suggestion.

[2019-07-29 12:14] igor90007 commented on #44
+1

[2019-07-30 11:56] AngeloMateus opened #53 "Camera blocks UI for a few seconds before loading"
Using react navigation stack navigator, when transitioning to the screen with the DocumentScanner, loading this screen blocks the UI for a few seconds before loading. Is there a way to load the camera in the background and have an onReady prop or something similar?

[2019-09-02 13:15] #52 closed

[2019-09-02 13:18] Michaelvilleneuve opened #56 "Unable to publish on NPM due to OpenCV size"
Publishing the latest version of the package on NPM causes 413 Request entity too large

OpenCV on android adds almost 600MB, we need to find another way to link open CV so that project size won't be impacted

[2019-09-06 22:04] julianklumpers opened #57 "Scanner crashes sometimes when taking a photo. Terminated due to memory issue"
So now and then the scanner crashed right after taking a photo. the log in xcode says the following: Terminated due to memory issue.

Someone else experiencing this problem or maybe know how to solve this.

Thanks.

[2019-09-07 18:24] mariot commented on #57
I had that for old phones running Android.
You could try to ask for more memory with `android:largeHeap="true"`

https://stackoverflow.com/questions/27396892/what-are-advantages-of-setting-largeheap-to-true

[2019-09-07 18:36] Michaelvilleneuve commented on #57
Mariot this issue is iOS specific apparently

[2019-09-10 11:50] Arjanvanmaren opened #58 "autoFocus failed: Scanner crashes app"
Fatal Exception: java.lang.RuntimeException: autoFocus failed
       at android.hardware.Camera.native_autoFocus(Camera.java)
       at android.hardware.Camera.autoFocus + 1382(Camera.java:1382)
       at com.documentscanner.views.OpenNoteCameraView.requestManualFocus + 591(OpenNoteCameraView.java:591)
       at com.documentscanner.views.OpenNoteCameraView.focus + 188(OpenNoteCameraView.java:188)

[2019-09-10 11:54] #58 closed

[2019-09-11 08:33] alicancelik opened #59 "Invariant Violation"
I got this error when i implemented your scanner ;

![Screen Shot 2019-09-11 at 11 31 49](https://user-images.githubusercontent.com/26031105/64681178-e342f380-d487-11e9-9477-e376bfe7ab6d.png)

[2019-09-11 13:47] theocikos opened #60 "RNPdfScanner was not found in the UIManager"
Although the linking works in the ios devices on the android i get error :
Invariant Violation: requireNativeComponent:"RNPdfScanner"was not found in the UIManager.I follow exactly the steps from readme but i can't get around this error.Thanks

[2019-09-11 14:15] alicancelik commented on #60
@theocikos can you run it right for ios ? i am starting for android right now. If i do it i will text you

[2019-09-12 06:43] alicancelik commented on #60
@theocikos did you solve it ?

[2019-09-14 12:55] bhaveshdaswani93 commented on #60
I am try to run this on android using following config
"react": "16.8.6",
    "react-native": "0.60.5",
    "react-native-document-scanner": "^1.4.2",
And i am getting following error:
Invariant Violation: requireNativeComponent: RNPdfScanner was not found in the UIManager

[2019-09-16 06:28] alicancelik commented on #60
This package is not working in react-native 0.60 for android. I used rn-doc-scanner.

[2019-09-25 11:02] umutcetinkaya opened #61 "The npm version is out of date."
npm version : 1.4.2
current version this repo : 2.0.0

[2019-09-25 11:29] Michaelvilleneuve commented on #61
please refer to this issue : https://github.com/Michaelvilleneuve/react-native-document-scanner/issues/56

Have not had time to work on it yet, feel free to PR !

[2019-09-25 11:29] #61 closed

[2019-09-25 12:41] umutcetinkaya opened #62 "react-native-document-scanner not build for android"
**Does anyone have an idea ?**

run :
`react-native run-android`

result :

`BUILD FAILED in 6s

error Failed to install the app. Make sure you have the Android development environment set up: https://facebook.github.io/react-native/docs/getting-started.html#android-development-environment. Run CLI with --verbose flag for more details.
Error: Command failed: ./gradlew app:installDebug -PreactNativ

[2019-09-25 14:41] jorgemarrero commented on #62
Duplicated https://github.com/Michaelvilleneuve/react-native-document-scanner/issues/52

Basically, change `import org.opencv.DocumentScannerPackage;` to **`import com.documentscanner.DocumentScannerPackage`** in `MainApplication.java`

[2019-09-25 15:55] umutcetinkaya commented on #62
@jorgemarrero  I'm having the same problem. I made the change as you said, but the problem was not solved?

[2019-09-25 15:55] umutcetinkaya commented on #52
@Michaelvilleneuve  I'm having the same problem. I made the change as you said, but the problem was not solved?

[2019-09-25 15:57] jorgemarrero commented on #62
Have you follow https://github.com/Michaelvilleneuve/react-native-document-scanner#android-only ?

[2019-09-25 16:09] umutcetinkaya commented on #62
@jorgemarrero Yes, I did it all step by step. But it didn't. :(

[2019-09-25 16:10] umutcetinkaya commented on #62
Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/5.4.1/userguide/command_line_interface.html#sec:command_line_warnings
185 actionable tasks: 31 executed, 154 up-to-date
/Users/workpc/Projects/isegeldim/android/app/build/generated/rncli/src/main/java/com/faceb

[2019-09-25 16:30] jorgemarrero commented on #62
This could be related to this issue #56 🤔

I am actually using my own fork of this package https://github.com/Woonivers/react-native-document-scanner

This package has done a great job, but I feel it is not maintained.

[2019-09-25 17:10] umutcetinkaya commented on #62
@jorgemarrero your react-native version ?

[2019-09-25 17:32] jorgemarrero commented on #62
0.59.9

[2019-09-25 17:34] umutcetinkaya commented on #62
I am using version 0.60. Would you mind if I went to the repo you called? @jorgemarrero

[2019-09-25 17:37] jorgemarrero commented on #62
Ahá, probably that's the problem.
0.60 changes a lot in Android, I haven't update for that reason :(

[2019-09-25 17:45] umutcetinkaya commented on #62
@jorgemarrero What can you do to make it run at 0.60.xx ? do you have an idea ?

[2019-09-26 08:37] jorgemarrero commented on #62
No idea, I'm sorry 😟
I will face that problem in the next few weeks/months.

The android part is very inspired by this repository https://github.com/ctodobom/OpenNoteScanner, maybe you can find some solution based on that.

[2019-09-27 02:30] visw227 commented on #52
HI I am getting the same problem,
import org.opencv.DocumentScannerPackage;
 error: cannot find symbol class DocumentScannerPackage

[2019-09-27 05:18] Sride commented on #52
opencv is not installed properly, you need to install opencv manually. Here is the [source](https://drive.google.com/open?id=1sR21BRm_X1Z_vid8GSLJ2F_zMa0bV79l) that installed opencv. this is a package for react-native-perspective-image-cropper, you can use this to install react-native-document-scanner.

[2019-09-29 11:16] visw227 commented on #52
Sride, can I have your contact? Need your help

On Fri, Sep 27, 2019 at 12:18 AM Sride <notifications@github.com> wrote:

[2019-09-30 07:55] visw227 commented on #52
@Sride , I followed what you suggested.. I could run finally run the app with DocumentScanner (with no errors). But I'm getting a blanck white screen. My <DocumentScanner/> native component is not opening camera I gues!

[2019-10-02 11:06] jorgemarrero commented on #62
Hi @umutcetinkaya ,
I have updated [my fork](https://github.com/Woonivers/react-native-document-scanner) to work with react-native 0.60+

[2019-10-02 12:02] haneul512 commented on #62
hello @jorgemarrero.
Trying to get it to compile, but getting

`PackageList.java:17: error: cannot find symbol
import org.opencv.DocumentScannerPackage;`

I'm using 0.61.1. Any idea?

[2019-10-02 12:05] jorgemarrero commented on #62
What's version are you using?

[2019-10-02 12:09] haneul512 commented on #62
@jorgemarrero  I have cloned your master (2.0.0 I suppose) and trying to run it from example folder

[2019-10-02 12:13] jorgemarrero commented on #62
Sorry, the example folder was pointing to the previous version. I am working on make that dynamically, but I am having issues with auto-linking.
I have updated `master` with that change.

[2019-10-04 17:32] pnutmath commented on #60
I am also facing same issue:
    "react": "16.8.3",
    "react-native": "0.59.1",
    "react-native-document-scanner": "^1.4.2",

For iOS its working as expected. Great!

For Android, I followed exact same steps given in ReadMe file.
Build is successful, but when I open component that contains DocumentScanner reference gets below error on application.

![error-android-pdfscanner](https://user-imag

[2019-10-05 03:11] umutcetinkaya commented on #62
@jorgemarrero Did you know that you are running over 0.60 where you are currently forking?

[2019-10-09 16:57] theocikos commented on #60
Sorry @pnutmath i didn't had any luck either.I am working on creating my own scanner

[2019-10-10 02:36] steverecio opened #63 "Browser Support"
Is there a technical reason for why this is a react native library vs standard react? Does anyone know of a port that is compatible with regular web browsers?

[2019-10-10 06:28] pnutmath commented on #60
Okay @theocikos, let us know once you ready.. or need any help..

[2019-10-14 13:28] MITDD6338 opened #64 "how can find the image URI and file path"
<img width="989" alt="Screenshot 2019-10-14 at 6 53 03 PM" src="https://user-images.githubusercontent.com/31823903/66754585-edf00e80-eeb3-11e9-9dcd-e3928e98f9f2.png">

@Michaelvilleneuve
can we help me the how can get the in response **file path** ,**URI**,and **filesize**
I was stuck

[2019-10-16 06:38] abstruse9 commented on #60
Any update on this?
I too get the same error. I'm using RN Version 0.59.10 and it doesn't work :(

[2019-10-24 05:29] vdebruyn opened #66 "IOS 13 Some crash or blank/White screen after capture"
Hello,

Hello,
With IOS 13, I have several problems.

Crashes of the application without having report of errors and especially a screen which remains white after the capture.

At the debug level, during capture, nothing happens, reactotron does not even return the cropped image and infomation.

So if you had an idea of ​​the causes.

RN 0.38.1 and i try different version of module.

[2019-10-24 05:30] #66 closed

[2019-10-24 05:34] TechSupportPlugnotes opened #67 "IOS 13 Some crash or blank/White screen after capture"
Hello,

Hello,
With IOS 13, I have several problems.

Crashes of the application without having report of errors and especially a screen which remains white after the capture.

At the debug level, during capture, nothing happens, reactotron does not even return the cropped image and infomation.

So if you had an idea of ​​the causes.

RN 0.38.1 and i try different version of module.

Sorry for dou

[2019-10-30 07:52] leventozkann commented on #67
The same problem at RN 0.61.2.
With IOS 13, It remains on the white screen after capturing.

[2019-11-07 15:53] zedtux commented on #37
This issue is still present.

[2019-11-08 14:53] RixBai commented on #60
Having the same error.
This package supports iOS only?

[2019-11-21 18:11] janvdt commented on #67
Hi,

Any update on this matter ?

Thanks!

[2019-11-21 18:18] TechSupportPlugnotes commented on #67
No the problem persist, my company decided to use another plugin but it's not free.
So i hope that one day anyone will find a solution.

[2019-11-26 03:53] ntvinhit commented on #62
You should disable auto link in RN 0.60+
Edit / Create `react-native.config.js`
[code]

[2019-11-29 08:20] kubilaytural commented on #60
I have the same error. Solution?

[2019-12-03 13:32] nickdemers commented on #67
Hi @TechSupportPlugnotes , witch plugin did you use to replace these one ? We have the same problem and it's not stable for our client.

Thank you

[2019-12-03 13:43] TechSupportPlugnotes commented on #67
Bonjour, je vous ai envoyé un email, je ne sais pas si on considérerait que c'est de la publicité vu qu'il s'agit d'un plugin payant.

Hello, I sent you an email, I do not know if we consider that it is advertising because it is a paid plugin.

[2019-12-03 13:43] TechSupportPlugnotes commented on #67
Hello, I sent you an email, I do not know if we consider that it is advertising because it is a paid plugin.

[2019-12-24 01:39] eshturman commented on #67
Hi @TechSupportPlugnotes . Can you sent email to me too, please?

Thank you

[2019-12-25 10:24] Romil123355 opened #70 "There is no tracking information for the current branch. Please specify which branch you want to merge with."

[2019-12-30 17:52] chppatel commented on #67
Would you please let us kow what you ended up with as well?

[2020-01-02 13:29] joaonew commented on #66
Were you able to make it work?

[2020-01-15 23:20] humphreyja commented on #44
The preview aspect ratio is a problem caused by Android having a preset list of available camera preview sizes. This means that you need to adjust the height and or width of the camera preview to match the aspect ratio (not just full screen). If you set `flex: 1` on the scanner component, it will distort the preview. You will need to correct the aspect ratio by setting the `width` and `height`.

I

[2020-01-15 23:25] humphreyja commented on #67
I noticed a lot of issues with this package. The iOS code is really old and is filled with memory leaks which may be the problem. I rebuilt this package from the ground up to fix these things as well as update the iOS code to a newer supported version. Plus it's more configurable, I provided a complete example in the repo.

https://github.com/HarvestProfit/react-native-rectangle-scanner

[2020-01-15 23:50] humphreyja commented on #57
Yeah I ran into this issue as well. The iOS code is really old and filled with memory leaks. I actually rebuilt this package from the ground up to fix these issues and update the iOS stuff. I changed the API so be sure to check out the full example for how to use it. Or just take the iOS code and add a PR to this package to fix the issues.

https://github.com/HarvestProfit/react-native-rectangle-s

[2020-01-16 19:18] iquirino opened #72 "Latest React Compatibility"
When will your App compatible with latest version of react native?

[2020-01-26 02:07] fuchien commented on #60
I hava the same error in iOS.
"react": "16.9.0",
"react-native": "0.61.2",
"react-native-document-scanner": "^1.4.2".
Any solution?
I didn't try on Android yet.

[2020-01-27 06:44] Pravesh701 commented on #60
Invariant Violation: requireNativeComponent: RNPdfScanner was not found in the UIManager.
Is anybody found the solution to this problem?

[2020-01-28 10:32] kubilaytural commented on #53
I have the same error. Solution?

[2020-01-29 18:29] maknom66 opened #73 "Stuck on loading sometimes"
Sometimes, the camera detects rectangle, and the loading spinner comes up, however the photo is not actually taken and also the camera keeps working normally and detects rectangle, all the while the loading is spinner is still there and unable to click pics further, can anyone help me with this, did anyone faced a similar issue ?

[2020-01-31 08:07] Michaelvilleneuve commented on #60
Please try to use the version in master by doing
[code]

[2020-02-01 12:30] maknom66 commented on #73
Such an amazing module, yet no maintenance :(

[2020-02-03 13:35] mahendraios commented on #60
Hi,
I'm also getting the same error even for iOS!
Invariant Violation: requireNativeComponent: RNPdfScanner was not found in the UIManager.

react-native : 0.61.5

Anybody has the solution?

[2020-02-04 05:11] mahendraios commented on #60
I'm unable to run it for iOS. Can you help me out

[2020-02-06 06:18] humphreyja commented on #73
@maknom66 Try out https://github.com/HarvestProfit/react-native-rectangle-scanner. The API is different but I built it from the ground up after experiencing a lot of issues with this package and the multitude of forks of it.

[2020-02-06 10:41] SpaghettiC0des commented on #72
@Michaelvilleneuve Hi, when will be the support for RN >0.60? :)

[2020-02-13 03:24] lightning331 opened #74 "useFrontCam property"
Why can't we use 'useFrontCam' flag on Android?

[2020-02-14 06:47] kimsean opened #75 "how to disabled auto capture?"
I tried having a ref for manual capture. but auto capture still activate. I want to disabled it.

[2020-02-22 06:52] Whitelotuscorp commented on #64
Did you get File Path or URI?

[2020-02-24 10:03] MITDD6338 commented on #64
@Whitelotuscorp only I get a response 64Base **URI**
but I want to file a path and filesize?

[2020-02-29 12:23] weinixuehao commented on #52
It is work to add react-native.config.js with below image content in this project root dir!
I have tested it

![image](https://user-images.githubusercontent.com/17869361/75607341-04c89200-5b31-11ea-91f8-b448d175f2f0.png)

[2020-03-25 08:40] #35 closed

[2020-03-27 08:12] randheercode commented on #75
Try setting `manualOnly={true}`

[2020-03-27 08:15] randheer094 commented on #75
Try setting `manualOnly={true}`.

[2020-03-28 19:51] Gricardov commented on #62
Chamo, a ti te ha funcionado este repo con RN 0.60 ?

[2020-03-29 04:51] Yangeok commented on #64
Same issue..

[2020-03-30 11:06] faheem121 commented on #60
@Michaelvilleneuve can you please upload the example for android in index.android.js as you upload the example for ios in index.ios.js

[2020-04-02 01:55] Yangeok commented on #62
@Gricardov
Is  `@woonivers/react-native-document-scanner` working for both Android and iOS?

[2020-04-02 07:28] Yangeok opened #76 "Gradle build failed"
# Environment

- osx 10.15
- react-native with expokit (ejected)

# Behavior

When i executed command `react-native run-android` at the first time. The following error occurred:

Then i attempted typing command `/android/gradlew/ build`. The following error occurred:

[code]

How can i resolve this problem? Please let me know why did occur this problem.

[2020-04-05 22:57] frossi85 opened #77 "Any plans to support Expo?"
Hi,

Great library, I would love to see this supported in Expo. Do you have plans to do it?

[2020-04-17 19:40] nisargrthakkar commented on #60
any update on this??

[2020-04-28 10:10] JB-CHAUVIN commented on #52
For me the solution was to add the open CV import before document-scanner's :

`include ':openCVLibrary310'
project(':openCVLibrary310').projectDir = new File(rootProject.projectDir,'../node_modules/react-native-document-scanner/android/openCVLibrary310')
include ':react-native-document-scanner'
project(':react-native-document-scanner').projectDir = new File(rootProject.projectDir, '../node_module

[2020-04-28 10:11] JB-CHAUVIN commented on #52
Same problem goes for me...

[2020-05-09 17:07] Ahmad5448 opened #78 "unable to install with NPM"
hello , I am trying to install this package with NPM but every time its stuck
my NPM version is 6.14.4
what's the problem behind this ???
other packages are installing smoothly

[2020-05-09 19:25] Ahmad5448 opened #79 "this library is not compatible with lastest versions of react native"
please update the library

[2020-05-13 04:59] ananthu-confianz commented on #60
+1

[2020-05-24 17:16] GitPointer commented on #60
+1

[2020-05-26 08:08] RitanMihai commented on #52
Same here, with an extra error:
[code]

[2020-05-27 12:18] mehdihussain9 opened #80 "RNPdfScanner was not found in the UIManager"
I followed exact same steps given in ReadMe file.
The build is successful, but when I open component that contains DocumentScanner code, gets below error on the application.
![WhatsApp Image 2020-05-27 at 5 44 18 PM](https://user-images.githubusercontent.com/56829236/83017899-0fb49500-a042-11ea-83c0-17485b1f3c4c.jpeg)

Can someone please help on this or give direction?

CC: @Michaelvilleneuve

[2020-06-01 09:26] Ahmad5448 commented on #80
how did you install this library I'm unable to install this ?

[2020-06-05 07:55] boonware commented on #80
Seeing this too. Any luck so far?

[2020-06-06 03:26] Tom-T commented on #77
I'm curious about this as well.

[2020-06-11 17:17] RitanMihai commented on #80
Same, any fix? 👀

[2020-06-15 15:44] himat commented on #80
Also getting this error

[2020-06-28 07:24] jetBn commented on #80
Also getting this error

[2020-07-07 05:54] raginisahu opened #81 "Running given example showing blank screen on android"
i am running the example that given in readme can you please help me or give the example how can i use this npm

[2020-07-08 21:51] ImAbhishekTomar commented on #80
I am facing same...![image](https://user-images.githubusercontent.com/6933841/86974181-78d80e00-c193-11ea-95fb-55c2f2bfef9f.jpeg)

[2020-07-08 22:06] ImAbhishekTomar commented on #80
I have resolved this error.

Try these steps 🚶

1- yarn add package-name
2- cd ios
3- pod install
4 - pod update
3- close and re-run the app on the phone 📱

[2020-07-09 07:48] hegdeMadan commented on #60
+1

[2020-07-09 08:40] hegdeMadan commented on #62
same issue for me as well. Anyone found the fix???

[2020-07-10 16:37] himat opened #82 "Disable rectangle detection?"
Is there a way to disable the automatic capture on rectangle detection?
I only want to take a picture on pressing a button, not on rectangle detection.

[2020-07-11 15:03] Yangeok commented on #82
I think setting property `detectionCountBeforeCapture` to a very large value can be one of the way.

[2020-07-21 16:24] alessandrots commented on #62
This repo @woonivers/react-native-document-scanner is great. Work on react-native > 0.6.0.

However, important things like detectedRectangle doesn't work on Android, only on IOS. In my case it is very important to me.

[2020-08-19 09:34] Sarathphd opened #83 "How to install version 1.4.3"
i can't install 1.4.3 version

[2020-08-20 17:28] priyankagupta23pg commented on #81
yes I am also seeing blank screen in my app using this example in android

[2020-08-24 12:44] retyui commented on #81
Error:

ViewManagerPropertyUpdater: Could not find generated setter for class com.documentscanner.DocumentScannerViewManager

[2020-09-07 15:06] obertil commented on #62
After 2 long days of work, I finally succeeded to make it work. Here is what I've done, inspired by the previous comments and [this issue on react-native-splash-screen](https://github.com/crazycodeboy/react-native-splash-screen/issues/171#issuecomment-364769346)

**Install**

`$ yarn add https://github.com/Michaelvilleneuve/react-native-document-scanner`

**Link manually for android**
First, we wi

[2020-09-09 14:49] dheerajk27 commented on #62
@obertil Followed your steps (thanks for the same!) for Android and then, it's building without issue. Though, while running the app on android device, I am getting the error "RNPdfScanner was not found in the UIManager".  Repeated the steps, but still encountering this issue on Android.  On iOS, facing no issues...

May be you forgot to mention some step here?

[2020-09-13 18:22] rlokesh1234 opened #84 "I am not able to run this library in Android"
In Android im getting this error.

RNPdfScanner was not found in the UIManager.

Anyone having a solution

[2020-09-14 09:25] projitroy commented on #81
set flex:1 for both
`<View style={{flex: 1}}> `
and
`<DocumentScanner `style={{flex:1}}/>``

[2020-09-23 18:40] rlokesh1234 commented on #77
Hey @frossi85 ,I'm not able to run this app in Android
I'm getting "RNPdfScanner was not found in the UIManager".

Any solution for this. Please let me know.
Using React Native@0.60.x

[2020-09-25 12:58] nileshyadav326 commented on #84
Same here.

[2020-10-05 14:52] odedmagger commented on #84
Possibly a duplicate of https://github.com/Michaelvilleneuve/react-native-document-scanner/issues/60 .

I'm experiencing the same thing.

[2020-10-21 10:55] keung7251 opened #85 "white screen not working"
white screen not working

[2020-11-10 23:17] SiSa68 commented on #62
@obertil Thanks for your solution
It works for me, with react-native v0.63.3
I've also upgrade the gradle version for the library as below

For `./node_modules/react-native-document-scanner/android/build.gradle`
[code]

For `./node_modules/react-native-document-scanner/android/openCVLibrary310/build.gradle`
[code]

And for `./node_modules/react-native-document-scanner/android/gradle/wrapper/gradle

[2020-12-08 22:37] ssudekum commented on #60
+1

[2020-12-14 09:32] shide1989 commented on #60
+1

[2020-12-14 09:41] shide1989 commented on #60
Usualy the "invariant violation" issue can indicate that you didn't run "react-native link" correctly. Can you give it a try ?

[2021-01-13 09:01] dearsikandarkhan opened #86 "batch scanning feature is available?"
Dear team,
I have a project requirement with Batch scanning / Continuous document scanning of document.
Just curious to know whether this library features this?
Appreciate your support.
Thanks

[2021-01-13 09:03] dearsikandarkhan commented on #86
**captureMultiple** from feature section
--

I hope this is what I am looking for. Closing this for now.

[2021-01-13 09:03] #86 closed, assigned to nobody

[2021-01-15 14:44] selvananbu opened #87 "Black Screen Showing when released as APK"
Everything works well in debug mode but when i tried to release an APK it shows a black screen can any one help on this.The following is the component i use

           <View style={isDarkMode ? styles.containerDark: styles.container}>
            <View  style={{  width: width(95), height: height(50),alignItems:"center",justifyContent:"center" }} >
            {this.state.image
            ?

[2021-02-22 15:29] raajnadar commented on #78
The size of npm package is very huge

[2021-03-02 10:14] artola opened #88 "project status"
@Michaelvilleneuve Could you please tell me the status of this project? I find it a bit outdated, and no activity.
Do you have some ongoing plan about it or just recommend a package replacement?

[2021-03-03 20:09] NikolasRoger commented on #88
this plugin not working with recent react native version, i really need a plugin like that. Waiting for response too, thanks :D

[2021-03-03 20:30] artola commented on #88
@NikolasRoger I needed for a demo the scanner working, therefore I changed by the following package (forked from this one) and compatible with the latest RN.
See: [@woonivers/react-native-document-scanner](https://www.npmjs.com/package/@woonivers/react-native-document-scanner)

[2021-03-12 07:19] skv-headless commented on #62
in `react-native.config.js`

[code]
Hope it will be in repo one day 😞

[2021-03-25 11:07] mohdaamir8182 commented on #81
UPDATE ON ISSUE:

[2021-03-25 11:07] mohdaamir8182 commented on #87
DUE TO PERMISSIONS ISSUE:

[2021-03-25 11:11] mohdaamir8182 commented on #85
SOLUTION:

set flex:1 for both
1): <View style={{flex: 1}}>
and
<DocumentScanner style={{flex:1}}/>

issue solved in #81

[2021-04-12 06:40] shrutigarg-reactnative commented on #60
Did anyone get a solution for this ?

[2021-05-10 12:30] sanjaykochrekar opened #90 "How to take color images"
I'm only able to take black and white images. How can I take coloured images?

[2021-05-19 03:52] D-Marc1 opened #91 "Would you consider making a CapacitorJS version of this plugin?"
This is such an awesome plugin. Makes me jealous of people who use ReactNative. Way better than anything I could find for native Android Java or Kotlin even. Would it be possible to suggest porting this over to [CapacitorJS](https://capacitorjs.com/)?

[2021-06-07 18:13] sanjaykochrekar opened #92 "Could not resolve all task dependencies for configuration ':react-native-perspective-image-cropper:debugCompileClasspath'. > Could not resolve project :openCVLibrary310. Required by:"
When I tried to run on different machine I'm getting this error.
Previously it was working fine
this is the error I'm getting
`Could not determine the dependencies of task ':react-native-perspective-image-cropper:compileDebugAidl'.

     Required by:
         project :react-native-perspective-image-cropper

          - None of the consumable configurations have attributes.
`

[2021-06-08 16:24] laibulle commented on #76
@Yangeok did you found a solution ?

[2021-06-09 14:50] laibulle commented on #62
@skv-headless  You saved my day thanks a lot.

[2021-06-09 15:03] Gricardov commented on #62
Too late for me, I already migrated to Flutter due to this. But thanks chamo! <3

[2021-07-17 10:15] neetigyachahar commented on #52
People struggling with a blank screen can try this: https://github.com/Michaelvilleneuve/react-native-document-scanner/issues/81#issuecomment-691935165

[2021-07-19 01:27] AlenToma commented on #62
You dont need to disable link you only need to add the line below to `setting.grade`

[code]
auto link should know that `openCVLibrary310` has already been linked and will only add the code to `.java`

[2021-07-28 10:52] quanghungit commented on #84
any solution ?

[2021-08-18 07:28] AlwinPonnan opened #93 "Invariant Violation: requireNativeComponent: "RNPdfScanner" was not found in the UIManager."
I am not able to run the app on android

"react": "17.0.2",
"react-native": "0.65.0",
"react-native-document-scanner": "^1.4.2"

[2021-08-19 12:15] vinay37 commented on #90
path: /android/src/main/java/com/documentscanner/ImageProcessor.java

 private void enhanceDocument(Mat src) {
      //  Imgproc.cvtColor(src, src, Imgproc.COLOR_RGBA2GRAY);  <===== COMMENT THE LINE TO SOLVE THE BLACK & WHITE COLOR ISSUES
        src.convertTo(src, CvType.CV_8UC1, colorGain, colorBias);
    }

[2021-08-19 12:21] vinay37 commented on #60
@Override
    protected List<ReactPackage> getPackages() {
      return Arrays.asList(
          new MainReactPackage(),
          new DocumentScannerPackage()  //>>>> add this at MainApplication.java
      );
    }

[2021-09-17 15:41] emanu7478 opened #94 "Can't install react native document scanner using npm"
When I try to install this package using npm it's not working. I have attached my screenshot below
<img width="1133" alt="Screenshot 2021-09-17 at 9 08 15 PM" src="https://user-images.githubusercontent.com/31894565/133816047-ac1af26e-90ea-4498-b27e-ae55e87afb0f.png">
Can anyone help me to solve this issue ?

[2021-09-18 07:52] emanu7478 commented on #78
So how can we solve this issue and install through npm @Michaelvilleneuve

[2021-10-22 13:52] joy-mollick commented on #62
This package isn't build for android , wasting so much time over this.

[2021-10-28 16:31] Muhammad-Tayyab-com opened #95 "Exception 'This function must be called on the UIManager queue' was thrown while invoking capture on target"

[2021-10-28 16:37] Muhammad-Tayyab-com commented on #95
i'm getting this issue in real ios devices while calling capture() fn
 Exception 'This function must be called on the UIManager queue' was thrown while invoking capture on target
anyone have solution?

react-native :0.64.2
real device: iPhone X  IOS 15.1

[2021-11-15 06:33] MuhammadKaleem171 commented on #93
@AlwinPonnan  same issue here did u find solution ?

[2021-11-16 11:47] MuhammadKaleem171 commented on #60
same issue here any update?

[2021-11-16 21:15] AbdullahJaspal commented on #60
this solved thank you

[2021-11-25 13:21] Adnan521 commented on #60
On Android device:
requireNativeComponent:"RNPdfScanner"was not found in the UIManager.I follow exactly the steps from readme but i can't get around this error.Thanks

[2021-12-03 15:36] maxizhukov commented on #60
Any updates?

[2021-12-03 15:37] maxizhukov commented on #93
I have same issue in ios

[2022-02-02 09:21] KrishnarajS-FSP commented on #93
Same issues I am also have

[2022-02-02 09:26] KrishnarajS-FSP opened #96 "This component work for the Android @Michaelvilleneuve"

[2022-02-02 09:28] KrishnarajS-FSP commented on #84
Please any one confirm that this is component can use for the android or not.

[2022-02-08 12:39] AlwinPonnan commented on #93
no , no luck yet

[2022-02-18 11:26] TalalBhatti opened #97 "Invariant Violation: requireNativeComponent: "RNPdfScanner" was not found in the UIManager."
did anyone solve this issue? I have tried many different methods. TIA

[2022-04-13 17:47] jeremiehelme commented on #94
@emanu7478 you can try adding it directly to your package.json like so :

[code]

and then run
`npm install`

hope it helps

[2022-05-17 02:34] fukemy commented on #97
i. didnt find any lib better than this shit

[2022-06-24 17:36] Shaw007134 commented on #97
can you

can you suggest the lib name? I have faced the same issue

[2022-06-25 08:48] fukemy commented on #97
No sir

[2022-06-30 09:10] rsm23 commented on #60
Any updates?

[2022-08-18 18:56] MoamberRaza commented on #60
try:
go to : node_modules/@woonivers/react-native-document-scanner/ios/RNPdfScannerManager.m

comment these line and build

// - (dispatch_queue_t)methodQueue
// {
//     return dispatch_get_main_queue();
// }

[2022-08-22 10:39] sadeghhosseini commented on #62
Hi, thanks for the answer.
Where should I be putting this? In my project or in the library?

The format you have specified caused an error while running `react-native run-android`,  so I did this:
[code]

Yet I still get the same error. I would really appreciate your help.

[2022-09-14 10:35] zubairAbdullah27 commented on #60
not working for ios

[2022-10-18 11:15] udaysagartammina commented on #82
Hi,
How to fix the rectangle size.

[2022-11-16 23:36] TanKucukhas commented on #93
Is this repo dead?